.Nav {
    background: rgb(195, 196, 255);
    padding: 20px;

    .hamburger {
        // background-color: rgb(195, 196, 255);
        display: block;

        width: 30px;
        height: 30px;
        position: absolute;
        right: 50px;
        top: 66px;

        color: rgb(195, 196, 255);

        svg {
            width: 100%;
            height: auto;
        }
        &:hover {
            color: rgb(39, 40, 77);
            cursor: pointer;
        }
    }
    .links {
        background-color: rgb(195, 196, 255);
        text-align: center;

        a {
            background-color: rgb(39, 40, 77);
            color: #fff;
            display: block;
            padding: 20px;
            border-radius: 5px;
            margin: 10px;
            text-decoration: none;
            text-transform: uppercase;

            transition: all 1s;

            &:hover {
                background-color: green;
            }
        }
    } 
}

@media screen and (min-width: 600px) {
    .Nav {
        background: rgb(66, 67, 129);
        
        // .hamburger {
        //     display: none;
        // }

        .links {
            a {
                display: inline-block;
            }
        }
    }
}
@media screen and (min-width: 800px) {
    // .Nav {
    //     background: #fff;
        
    //     .hamburger {
    //         display: none;
    //     }
    // }
}