body {
    background-color: rgb(215, 247, 212);
}
.wrapper {
    min-width: 320px;
    max-width: 1000px;
    border: solid 10px teal;
    padding: 20px;
    margin: 25px auto;
    background-color: #fff;
}

@media screen and (min-width: 600px) {
    body {
        background-color: rgb(212, 217, 247);
    }
    
}

@media screen and (min-width: 800px) {
    body {
        background-color: rgb(247, 226, 212);
    }
    
}